@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state="checked"] {
  background-color: black;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

@layer base {
  :root {
    body {
      @apply bg-foreground text-foreground max-w-screen-sm min-h-screen mx-auto;
    }
  }
}

@layer components {
  @keyframes zoomOut {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.95);
    }
  }

  .animate-zoom-out {
    animation: zoomOut 0.5s infinite alternate;
  }

  .main-button {
    @apply bg-gradient-to-tr from-amber-300 to-amber-400 flex items-center justify-center rounded-xl text-xl text-neutral-800 font-bold text-nowrap border-[1px] border-neutral-800 -z-10 shadow-lg;
  }
  .custom-divide {
    @apply border-t-[1px] border-neutral-900 -mx-2 my-4;
  }

  .text-shadow {
    @apply [text-shadow:1px_1px_5px_var(--tw-shadow-color)] shadow-neutral-800;
  }

  .user-item-card {
    @apply basis-1/2 aspect-[6/7] bg-white border-[1px] rounded-[26px];
  }
}
